<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données météo de mon Jardin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Données météo de mon Jardin</h1>
    <table>
        <tr>
            <th>Temperature</th>
            <th>Humidité</th>
        </tr>
        {% for entry in data %}
        <tr>
            <td>{{ entry['temperature'] }}</td>
            <td>{{ entry['humidity'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
